/* === GLOBAL SETTINGS === */
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #282828;
	overflow-x: hidden;
	min-height: 100%;
}
	.container {
		max-width: 1200px;
		width: 100%;
	}
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		outline: none;
	}
	a {
		color: #282828;
	}
	a:hover, a:focus, a:active {
		color: #282828;
		background: none;
		outline: none;
		text-decoration: none;
	}
	h1 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		margin: 10px 0;
		font-size: 30px;
	}
	h2 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		margin: 10px 0;
		font-size: 26px;
	}

/* === HEADER === */
header.main-header {
	margin-top: 20px;
}
#logo {
	margin: 10px auto 0;
	text-align: center;
	width: 200px;
}
	#logo svg {
		width: 80%;
	}
	#logo span {
		display: block;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: -20px;
	}
.main-menu {
	margin-top: 30px;
	position: relative;
}
	.main-menu ul {
		text-align: center;
	}
		.main-menu ul li {
			text-align: center;
			display: inline-block;
			vertical-align: top;
			padding: 0 40px;
		}
		.main-menu ul li.search {
			position: absolute;
			right: 0;
			top: 0;
		}
			.main-menu ul li a {
				text-transform: uppercase;
				font-size: 16px;
				padding: 5px 0;
				transition: all 0.2s ease-in-out;
			}
				.main-menu ul li a.active {
					color: #a8a8a8;
				}
				.main-menu ul li a:hover {
					color: #a8a8a8;
				}
			/* .main-menu ul li a:before {
				content: "";
				position: absolute;
				z-index: -1;
				left: 50%;
				right: 50%;
				bottom: 0;
				background: #282828;
				height: 1px;
				-webkit-transition-property: left, right;
				transition-property: left, right;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			} */
	header ul.nav li a:hover, header ul.nav li a:focus, header ul.nav li a:active, header ul.nav li a:visited {
		background: none;
	}
ul.header-social-networks li a {
	padding: 10px
}
	ul.header-social-networks li a i {
		color: #282828;
		font-size: 16px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	ul.header-social-networks li a:hover i {
		color: #a8a8a8;
	}
	ul.header-user-menu li {
		padding: 10px;
		margin: 0;
	}
		ul.header-user-menu li a {
			text-transform: uppercase;
			padding: 0 0 5px 0;
			border-radius: 0;
			color: #282828;
			font-size: 12px;
			transition: all .3s ease-in-out;
		}
		ul.header-user-menu li a:hover {
			color: #a8a8a8;
		}

/* === HEADER - STICKY === */
.sticky-header {
	background: #ffffff;
	position: relative;
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	padding-top: 10px;
	padding-bottom: 10px;
}
	.logo-sticky {
		width: 35px;
		float: left;
	}
	.sticky-header ul.pull-left {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 65px;
	}
		.sticky-header ul li a {
			font-size: 14px;
			text-transform: uppercase;
			transition: all 0.2s ease-in-out;
		}
			.sticky-header ul li a:hover {
				color: #a8a8a8;
			}
			.sticky-header ul li a.active {
				color: #a8a8a8;
			}
		.sticky-header ul li a .fa {
			font-size: 16px;
		}
	.sticky-header ul.pull-right {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
	}
		.sticky-header ul.pull-right li a {
			padding: 10px 10px;
			font-size: 12px;
			transition: all 0.2s ease-in-out;
		}
		.sticky-header ul.pull-right li a:hover {
			color: #a8a8a8;
		}
	#nav-icon {
		width: 34px;
		height: 22px;
		position: absolute;
		top: 50%;
		right: 15px;
		margin-top: -11px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		display: none;
		z-index: 20;
	}
	#nav-icon span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #282828;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
	#nav-icon span:nth-child(1) {
		top: 0px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}
	#nav-icon span:nth-child(2) {
		top: 10px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}
	#nav-icon span:nth-child(3) {
		top: 20px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}
	#nav-icon.open span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 0px;
		left: 0px;
	}
	#nav-icon.open span:nth-child(2) {
		width: 0%;
		opacity: 0;
	}
	#nav-icon.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 24px;
		left: 0px;
	}

/* === MENU MOBILE === */
.menu-mobile {
	width: 100%;
	height: 100vh;
	background: #ffffff;
	position: fixed;
	top: 160px;
	left: 0;
	z-index: 3;
	display: none;
}
	.menu-mobile ul.menu-mobile-main {
		padding: 0;
		margin: 30px 0 0 0;
	}
		.menu-mobile ul.menu-mobile-main li {
			list-style: none;
			text-align: center;
			padding: 5px 0;
		}
			.menu-mobile ul.menu-mobile-main li a {
				font-size: 22px;
				text-transform: uppercase;
				font-weight: 300;
			}
			.menu-mobile ul.menu-mobile-main li a.active {
				font-weight: 400;
			}
	.menu-mobile ul.menu-mobile-social {
		padding: 0;
		margin: 30px 0 0 0;
		text-align: center;
	}
		.menu-mobile ul.menu-mobile-social li {
			list-style: none;
			display: inline-block;
			vertical-align: top;
			padding: 0 10px;
		}
			.menu-mobile ul.menu-mobile-social li a {
				font-size: 18px;
			}

/* === LOGO MOBILE - HOME === */
.logo-mobile {
	max-width: 90%;
	width: 100%;
	margin: 70px auto 0;
	text-align: center;
	display: none;
}
	.logo-mobile svg {
		width: 40%;
		margin: 0 auto;
	}
	.logo-mobile span {
		display: block;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: -20px;
	}

/* === MAIN IMAGE - HOME === */
.main-img {
	width: 100%;
	height: 74vh;
	margin: 30px auto 70px;
	overflow: hidden;
}
	.main-img img {
		width: 100%;
	}
	.main-img img.main-img-mobile {
		display: none;
	}

/* === CTA MOUSE - HOME === */
.mouse {
	margin: 50px auto;
	width: 100px;
	position: absolute;
	top: 85vh;
	left: 50%;
	margin-left: -12px;
	display: none;
}
	.mouse-icon {
		width: 25px;
		height: 45px;
		border: 1px solid #282828;
		border-radius: 15px;
		cursor: pointer;
		position: relative;
		text-align: center;
	}
		.mouse-wheel {
			height: 6px;
			margin: 2px auto 0;
			display: block;
			width: 3px;
			background-color: #282828;
			border-radius: 50%;
			-webkit-animation: 1.6s ease infinite wheel-up-down;
			-moz-animation: 1.6s ease infinite wheel-up-down;
			animation: 1.6s ease infinite wheel-up-down;
		}
		@-webkit-keyframes wheel-up-down {
			0% {
				margin-top: 2px;
				opacity: 0;
			}
			30% {
				opacity: 1;
			}
			100% {
				margin-top: 20px;
				opacity: 0;
			}
		}@-moz-keyframes wheel-up-down {
			0% {
				margin-top: 2px;
				opacity: 0;
			}
			30% {
				opacity: 1;
			}
			100% {
				margin-top: 20px;
				opacity: 0;
			}
		}@keyframes wheel-up-down {
			0% {
				margin-top: 2px;
				opacity: 0;
			}
			30% {
				opacity: 1;
			}
			100% {
				margin-top: 20px;
				opacity: 0;
			}
		}
.arrow-container {
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	position: absolute;
	bottom: 5vh;
	left: 50%;
	margin-left: -15px;
	cursor: pointer;
}
	.arrow-container svg {
		fill: #191A1C;
		width: 9px;
		height: 9px;
		line-height: 8px;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -5px;
		margin-left: -5px;
	}

/* === INTRO - HOME === */
.intro-home {
	margin: 0 auto 70px;
}
	.intro-home  h2 {
		margin: 0;
		text-transform: none;
		font-size: 20px;
		line-height: 32px;
	}	

/* === SHOP - HOME === */
.boutique {
	margin-bottom: 70px;
	background-color: #f3f3f3;
	padding-top: 70px;
	padding-bottom: 70px;
}
	.boutique-inner {
		max-width: 1200px;
		margin: 0 auto;
	}
	.boutique .row:first-of-type {
		margin-bottom: 70px;
	}
		.shop-featured {
			min-height: 330px;
		}
			.shop-featured-inner {
				width: 100%;
				min-height: 330px;
				background: #f3f3f3;
				overflow: hidden;
			}
				.shop-featured-inner img {
					width: 100%;
				}
		.shop-text {
			display: table;
			height: 380px;
			overflow: hidden;
		}
			.shop-text .inner {
				display: table-cell;
				vertical-align: middle;
				background-color: #ffffff;
				padding-left: 30px;
				padding-right: 30px;
			}
				.shop-text h2 {
					text-align: center;
					font-size: 18px;
					font-weight: 500;
					margin-bottom: 30px;
				}
				.shop-text p {
					font-size: 14px;
					line-height: 28px;
					text-align: center;
					margin-bottom: 50px;
				}
				.shop-cta {
					text-align: center;
					padding: 10px 90px;
					text-transform: uppercase;
					font-size: 18px;
					transition: all 0.3s ease-in;
					background: #282828;
					color: #ffffff;
				}
				.shop-cta:hover {
					background: #505252;
					color: #ffffff;
				}
		.shop-article {
		}
			.shop-article-inner {
				width: 100%;
				color: #fff;
				position: relative;
				float: left;
				overflow: hidden;
				text-align: center;
			}
				.shop-article-inner img {
					opacity: 1;
					width: 100%;
					-webkit-transition: opacity 0.35s;
					transition: opacity 0.35s;
					width: 100%;
					height: auto;
				}
				.shop-article-inner figcaption {
					position: absolute;
					left: 0;
					top: 0;
					width: 80%;
					height: 40%;
					background: rgba(255, 255, 255, 0.9);
					margin: 30% 10%;
					opacity: 0;
					transition: all 0.3s ease-in;
				}
				.shop-featured .shop-article-inner figcaption {
					transform: translateY(-50%);
					top: 50%;
					margin: 0 10%;
				}
					.figcaption-inner {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 100%;
					}
				.shop-article-inner h3,
				.shop-article-inner p {
					padding: 5px 0;
					margin: 0;
					color: #000000;
					text-transform: uppercase;
					letter-spacing: 1px;
					opacity: 0;
				}
				.shop-article-inner h3 {
					font-size: 14px;
					margin-bottom: 0px;
					font-family: 'Raleway', sans-serif;
					font-weight: 700;
				}
				.shop-article-inner p {
					font-weight: 400;
					font-size: 12px;
				}
				.shop-article-inner:hover figcaption {
					opacity: 1;
				}
				.shop-article-inner:hover figcaption h3 {
					opacity: 1;
				}
				.shop-article-inner:hover figcaption p {
					opacity: 1;
				}

/* === STORIES / ABOUT - HOME === */
.stories-about {
	margin-bottom: 70px;
}
	.stories-about figure {
		width: 100%;
		color: #fff;
		position: relative;
		float: left;
		overflow: hidden;
		text-align: center;
	}
		.stories-about figure img {
			opacity: 1;
			width: 100%;
			-webkit-transition: opacity 0.35s;
			transition: opacity 0.35s;
			width: 100%;
		}
		.stories-about figure figcaption {
			position: absolute;
			left: 0;
			top: 0;
			width: 80%;
			height: 30%;
			background: rgba(255, 255, 255, 0.9);
			margin: 30% 10%;
			opacity: 0;
			transition: all 0.3s ease-in;
		}
		.stories-about figure figcaption {
			transform: translateY(-50%);
			top: 50%;
			margin: 0 10%;
		}
			.stories-about figure .figcaption-inner {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
			}
		.stories-about figure h3,
		.stories-about figure p {
			padding: 10px 0;
			margin: 0;
			opacity: 0;
			color: #000000;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		.stories-about figure h3 {
			font-size: 14px;
			margin-bottom: 0px;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
		}
		.stories-about figure p {
			font-weight: 300;
			font-size: 14px;
		}
		.stories-about figure:hover figcaption {
			opacity: 1;
		}
		.stories-about figure:hover figcaption h3 {
			opacity: 1;
		}
		.stories-about figure:hover figcaption p {
			opacity: 1;
		}

/* === REJOIGNEZ MI - HOME === */
.join-mi {
	background: #f3f3f3;
	margin: 0 auto 70px;
	padding: 50px 0;
	text-align: center;
}
	.join-mi h2 {
		margin: 0;
	}
	.join-mi h3 {
		margin: 0 0 30px 0;
		font-family: 'Playfair Display', serif;
		font-size: 18px;
		font-style: italic;
		letter-spacing: 1px;
	}
	.join-mi form {
		margin: 30px auto 0;
		position: relative;
		display: inline-block;
		vertical-align: top;
		max-width: 400px;
		width: 100%;
	}
		.join-mi form input {
			border: 0;
			padding: 15px 10px;
			width: 100%;
			-webkit-appearance: none;
			border-radius: 0;
		}
		.join-mi form input::-webkit-input-placeholder {
			text-transform: uppercase;
		}
		.join-mi form input::-moz-placeholder {
			text-transform: uppercase;
		}
		.join-mi form input:-ms-input-placeholder {
			text-transform: uppercase;
		}
		.join-mi form input:-moz-placeholder {
			text-transform: uppercase;
		}
		.join-mi form button {
			height: 42px;
			line-height: 42px;
			border: none;
			background-color: transparent;
			position: absolute;
			top: 2px;
			right: 0px;
			font-size: 12px;
			color: #191A1C;
			letter-spacing: 1.5px;
			padding: 0 10px;
			text-transform: uppercase;
		}

/* === INSTAGRAM - HOME === */
.insta-push {
	margin-bottom: 70px;
}
	.insta-home .inner {
		width: 100%;
		background: #f3f3f3;
		padding: 30px 0;
	}
	.insta-home h2 {
		margin: 0;
		padding-bottom: 30px;
	}
	.insta-home ul {
		padding: 0;
		margin: 0;
	}
		.insta-home ul li {
			list-style: none;
			display: inline-block;
			vertical-align: top;
			width: 28%;
			margin: 0 2%;
			height: 215px;
			background: #ffffff;
			overflow: hidden;
		}
			.insta-home ul li img {
				width: 100%;
			}

/* === PUSH PRO - HOME === */
.pro-home .inner {
	height: 333px;
	background: url('../images/home/pro.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	overflow: hidden;
	width: 100%;
}
	.pro-home .inner a {
		font-size: 20px;
		font-weight: 300;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		/* background: rgba(255, 255, 255, 0.5); */
	}
		.pro-home .inner h2 {
			font-size: 14px;
			line-height: 28px;
			font-weight: 400;
			margin: 0;
			padding: 20px 0;
			background: rgba(255, 255, 255, 1);
			width: 90%;
			margin: 0 auto;
			text-transform: none;
		}
			.pro-home .inner h2 span {
				font-weight: 500;
				text-transform: uppercase;
				font-size: 18px;
			}

/* === MAIN IMAGE - ABOUT === */
.about .main-img {
	height: auto;
	margin: 30px auto 0px;
}
.about .arrow-container {
	display: none;
}
.about .wrapper-content {
	margin: -90px auto 70px;
}
	.wrapper-content-inner {
		background: #f3f3f3;
		max-width: 1100px;
		margin: 0 auto;
		position: relative;
		padding: 70px;
		z-index: 1;
	}
.widget-text {
	margin-bottom: 30px;
}
.widget-text:last-of-type {
	margin-bottom: 0;
}
	.widget-text h1 {
		text-align: left;
		font-weight: 300;
		margin: 0 0 10px 0;
	}
	.widget-text h2 {
		text-align: left;
		font-weight: 300;
	}
	.widget-text p {
		font-size: 16px;
	}
	.widget-text img {
		max-width: 100%;
		height: auto;
	}
	.join-community h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	.join-community .inner {
		background: #f3f3f3;
		min-height: 370px;
		display: table;
		overflow: hidden;
		width: 100%;
	}
	.join-community .col-md-4:first-of-type .inner{
		background: url('../images/instagram/insta-2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.join-community .col-md-4:nth-of-type(2) .inner{
		background: url('../images/instagram/insta-4.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.join-community .col-md-4:nth-of-type(3) .inner{
		background: url('../images/about/about-02.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
		.join-community .inner a {
			font-size: 20px;
			font-weight: 300;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			background: rgba(0, 0, 0, 0.6);
		}
			.join-community .inner h3 {
				font-size: 26px;
				font-weight: 100;
				margin: 0;
				color: #ffffff;
			}
		.join-community form {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			position: relative;
			background: rgba(0, 0, 0, 0.6);
		}
			.join-community form input {
				border: 0;
				padding: 15px 10px;
				width: 90%;
				-webkit-appearance: none;
				border-radius: 0;
			}
			.join-community form button {
				height: 42px;
				line-height: 42px;
				border: none;
				background-color: transparent;
				position: absolute;
				top: 50%;
				right: 10px;
				margin-top: -21px;
				font-size: 12px;
				color: #191A1C;
				letter-spacing: 1.5px;
				padding: 0 20px;
				text-transform: uppercase;
			}

/* === STORIES === */
.breadcrumb {
	background: none;
	padding: 0 15px;
	margin: 30px auto;
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}
	.breadcrumb span {
		padding: 0 5px;
	}
.wrapper-article {
	margin-bottom: 70px;
}
	.wrapper-article h1 {
		margin: 0 0 20px 0;
		text-align: left;
		font-size: 26px;
	}
	.main-article {
		margin-bottom: 70px;
	}
			.main-article-img {
				max-height: 500px;
				overflow: hidden;
			}
				.main-article-img img {
					width: 100%;
				}
			.main-article-content {
				position: relative;
				min-height: 480px;
				display: table;
				overflow: hidden;
			}
				.main-article-content-inner {
					display: table-cell;
					vertical-align: middle;
				}
					.wrapper-article .post-metas {
						text-transform: uppercase;
						font-size: 11px;
					}
					.wrapper-article h2 {
						font-size: 22px;
						text-align: left;
						text-transform: uppercase;
						line-height: 26px;
						margin: 20px 0 20px;
						font-weight: 500;
					}
					.wrapper-article p {
						font-size: 14px;
						line-height: 22px;
						margin: 0;
					}
					.wrapper-article .like {
						position: absolute;
						left: 20px;
						bottom: 20px;
					}
						.wrapper-article .like li {
							margin: 0;
						}
							.wrapper-article .like li a {
								padding: 0 15px 0 0;
							}
							.wrapper-article .like li a:hover, .wrapper-article .like li a:focus, .wrapper-article .like li a:active {
								background: none;
							}
								.wrapper-article .like li a .fa {
									font-size: 16px;
								}
					.wrapper-article .link {
						position: absolute;
						right: 20px;
						bottom: 20px;
					}
						.wrapper-article .link a {
							text-transform: uppercase;
							font-weight: 600;
						}
	.wall-articles .item .inner {
		height: 330px;
		position: relative;
		transition: all 0.5s ease-in-out;
		overflow: hidden;
	}
		.wall-articles .item .inner a.item-link,
		.wall-articles .item .inner .cat a {
			position: relative;
			z-index: 1;
		}
		.wall-articles .item .inner h2 {
			margin-bottom: 0;
		}
		.wall-articles .item .inner .cat a,
		.wall-articles .item .inner h2,
		.wall-articles .item .inner .post-metas
		{
			color: #282828;
			transition: all 0.5s ease-in-out;
		}
		.wall-articles .item-img {
			width: 100%;
		}
		.item-title {
			padding: 20px;
			opacity: 0;
			transition: all 0.5s ease-in-out;
			position: absolute;
			left: 0;
			top: 50%;
			width: 80%;
			background: rgba(255, 255, 255, 0.9);
			margin: 0 10%;
			transform: translateY(-50%);
		}
	.wall-articles .item .inner:hover .item-title
	{
		opacity: 1;
	}

/* === SINGLE STORY === */
.single-story .main-img {
	height: auto;
}
.single-story .arrow-container {
	display: none;
}
.single-story-top {
	text-align: center;
	margin-bottom: 70px;
}
	.single-story-top .cat {
		text-transform: uppercase;
	}
	.single-story-top h1 {
		margin: 0;
		padding: 10px 0 30px;
	}
	.share-content {
		margin: 0 0 30px 0;
		padding: 0;
		text-align: center;
	}
		.share-content li {
			list-style: none;
			display: inline-block;
			vertical-align: top;
			padding: 0 10px;
		}
			.share-content li a .fa {
				font-size: 20px;
			}
	.single-story-top .intro {
		max-width: 800px;
		margin: 0 auto;
		font-size: 14px;
	}
.single-story-content {
}
	.single-story-content .row {
		margin-bottom: 70px;
	}
	.single-story-content h2 {
		text-align: left;
		margin: 0 0 10px 0;
	}
	.single-story-content img {
		max-width: 100%;
		height: auto;
	}
	.single-story-content p {
		font-size: 14px;
		margin-bottom: 30px;
	}
	.single-story-content .row p:last-of-type {
		margin-bottom: 0;
	}
	.single-story-carousel  {
		margin-bottom: 70px;
	}	
		.single-story-carousel .slick-next, .single-story-carousel .slick-next:hover, .single-story-carousel .slick-next:active, .single-story-carousel .slick-next:focus {
			background: url('../images/slick-nav-black.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 50px;
			width: 50px;
			height: 50px;
			-webkit-transform: rotate(270deg);
			transform: rotate(270deg);
			right: -75px;
			top: 50%;
			margin-top: -20px;
			z-index: 1;
		}
		.slick-next:before {
			content: '';
		}
		.single-story-carousel .slick-prev, .single-story-carousel .slick-prev:hover, .single-story-carousel .slick-prev:active, .single-story-carousel .slick-prev:focus {
			background: url('../images/slick-nav-black.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 50px;
			width: 50px;
			height: 50px;
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			left: -75px;
			top: 50%;
			margin-top: -20px;
			z-index: 1;
		}
		.slick-prev:before {
			content: '';
		}
	.single-story-quote-text {
		display: table;
		overflow: hidden;
		height: 380px;
	}
		.single-story-content quote {
			font-size: 28px;
			line-height: 42px;
			font-weight: 300;

			display: table-cell;
			vertical-align: middle;
			background-color: #ffffff;
		}
			.single-story-content quote span:first-of-type {
				font-size: 60px;
				font-family: initial;
				font-weight: bold;
				vertical-align: bottom;
			}
			.single-story-content quote span:last-of-type {
				font-size: 60px;
				font-family: initial;
				font-weight: bold;
				vertical-align: top;
			}
	.title-selection-carousel {
		padding-bottom: 10px;
	}
	.selection-carousel {
		margin-bottom: 70px;
	}
		.selection-carousel .slick-slide {
			outline: none;
		}
		.selection-carousel .slick-slide:focus {
			outline: none;
		}
		.selection-carousel .shop-article-inner {
			min-height: 220px;
			width: auto;
			padding: 0 15px;
		}
			.selection-carousel .slick-next, .selection-carousel .slick-next:hover, .selection-carousel .slick-next:active, .selection-carousel .slick-next:focus {
				background: url('../images/slick-nav-black.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 50px;
				width: 50px;
				height: 50px;
				transform: rotate(270deg);
				right: -60px;
				top: 50%;
				margin-top: -20px;
				transform: ;
				z-index: 1;
			}
			.selection-carousel .slick-prev, .selection-carousel .slick-prev:hover, .selection-carousel .slick-prev:active, .selection-carousel .slick-prev:focus {
				background: url('../images/slick-nav-black.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 50px;
				width: 50px;
				height: 50px;
				transform: rotate(90deg);
				left: -60px;
				top: 50%;
				margin-top: -20px;
				transform: ;
				z-index: 1;
			}
			.selection-carousel .slick-dots {
				bottom: 0;
				left: 0;
			}
				.selection-carousel .slick-dots li button:before {
					font-size: 10px;
				}

/* === SHOP === */
.shop-products-featured {
	margin: 0 auto 70px;
}
	.shop-products-featured .img-mobile {
		display: none;
	}
	.shop-products-featured img {
		width: 100%;
	}
.mea-products {
	margin-bottom: 40px;
}	
	.mea-products .mea-products-item {
		margin-bottom: 30px;
	}	
		.mea-products .mea-products-item .inner {
			min-height: 360px;
			width: 100%;
			background: #f3f3f3;
		}
			.shop .shop-article-inner figcaption {
				margin: 0 10%;
				height: 150px;
				top: 50%;
				transform: translateY(-50%);
			}
		.shop .shop-article-inner:hover {
			background: #000000;
		}
		.shop .shop-article-inner:hover img {
			opacity: 0.5;
		}

/* === SINGLE SHOP === */
.mobile-product {
	display: none;
}
	.mobile-product h1 {
		text-align: left;
		text-align: left;
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		letter-spacing: 3px;
	}
.global-product {
	margin-bottom: 70px;
	padding-left: 0;
}
	.slider-for .slick-next,
	.slider-for .slick-next:hover,
	.slider-for .slick-next:active,
	.slider-for .slick-next:focus {
			background: url('../images/slick-nav-black.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 34px;
			width: 34px;
			height: 34px;
			-webkit-transform: rotate(270deg);
			transform: rotate(270deg);
			right: 10px;
			top: 50%;
			margin-top: -17px;
			z-index: 1;
		}
		.slider-for .slick-prev,
		.slider-for .slick-prev:hover,
		.slider-for .slick-prev:active,
		.slider-for .slick-prev:focus {
			background: url('../images/slick-nav-black.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 34px;
			width: 34px;
			height: 34px;
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			left: 10px;
			top: 50%;
			margin-top: -17px;
			z-index: 1;
		}
	.slider-nav {
		overflow-y: hidden;
	}
		.slider-nav img {
			padding: 0 0 30px 0;
			width: 100%;
			outline: none;
		}
		.image-portrait .slider-nav img {
			padding: 0 0 46px 0;
		}
		.image-landscape .slider-nav img {
			padding: 0 0 19px 0;
		}
	.product-img .inner {
		outline: none;
	}
		.product-img img {
			width: 100%;
		}
		.thumb-show {
			box-sizing: border-box;
			width: 100%;
			overflow: hidden;
			margin: 0 auto;
			position: relative;
			cursor: url('../images/zoomin.png'),pointer;
		}
		.zoom-active .thumb-show {
			cursor: url('../images/zoomout.png'),pointer;
		}
		.thumb-show img {
			width: 100%;
			float: left;
		}
		.thumb-show img.zoom {
			position: absolute;
			-moz-transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
			-o-transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
			-webkit-transition: width 0.2s ease-out, opacity 0.2s ease-out;
			-webkit-transition-delay: 0s, 0.2s;
			-webkit-transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
			transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
		}
	.details-product h1 {
		text-align: left;
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		letter-spacing: 3px;
		margin: 0 0 20px 0;
	}
	.price {
		font-size: 20px;
		font-weight: 300;
		margin: 0 0 40px 0;
	}
	select.quantity-product {
		border: none;
		font-size: 14px;
		-webkit-appearance: none;
		border: none;
		border-radius: 0;
		width: 42px;
		height: 42px;
		text-indent: 10px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: top;
		background: url('../images/select.png') no-repeat right 10px center;
		background-size: 8px 4px;
		background-color: #f3f3f3;
	}
	select.quantity-product:focus {
		outline: none;
	}
	.add-to-cart {
		text-transform: uppercase;
		font-size: 16px;
		background: #282828;
		color: #ffffff;
		border: none;
		font-weight: 300;
		padding: 10px 20px;
		vertical-align: top;
		margin: 0 0 10px 0;
		letter-spacing: 1px;
		transition: all 0.3s ease-in-out;
	}
	.add-to-cart:hover {
		background: #505252;
	}
	.details-product .description {
		margin: 40px 0 20px 0;
	}
		.details-product .description h3 {
			margin: 0;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 500;
			font-family: 'Raleway', sans-serif;
			margin-bottom: 5px;
		}
		.details-product .description p {
			font-size: 14px;
			line-height: 20px;
		}
	.wishlist, .share-product {
		margin-top: 10px;
	}	
	.wishlist li {
		padding: 0;
	}
		.wishlist li a {
			padding-left: 0;
		}
		.wishlist li a:hover, .wishlist li a:focus {
			background: none;
		}
			.wishlist li .fa {
				padding-right: 5px;
			}
			.wishlist li span {
				display: inline-block;
				vertical-align: top;
				font-size: 14px;
			}
	.share-product li {
		padding: 0;
	}
		.share-product li a:hover, .share-product li a:focus {
			background: none;
		}
		.share-product li a:first-of-type {
			padding-left: 0;
		}
		.share-product .fa, .wishlist .fa {
			font-size: 18px;
		}
		.details-product .inside {
			border: 1px solid #f3f3f3;
			padding: 20px;
		}
			.details-product .inside h3 {
				margin: 0;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 500;
				font-family: 'Raleway', sans-serif;
				margin-bottom: 5px;
			}
			.details-product .inside p {
				font-size: 14px;
				line-height: 20px;
				margin: 0;
			}

/* === CATS SHOP === */
.cat-products-filters h1 {
	margin: 0;
	text-align: left;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
	margin-bottom: 30px;
}
.filters .ui-group {
	margin-bottom: 20px;
	border: none;
}
.filters h2 {
	text-align: left;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	font-style: italic;
}
.filters button {
	background: none;
	border:  0;
	display: block;
	font-size: 14px;
	outline: none;
}
.filters button.is-checked {
	/* font-weight: 700; */
	outline: none;
}
.single-cat-shop .filters button.is-checked {
	font-weight: 700;
}
.grid-sizer {
	width: 30%;
}
.gutter-sizer {
	width: 30px;
}
.cat-products {
	margin-bottom: 30px;
}
.cat-products-grid article {
	width: 30%;
	text-align: center;
}
	.cat-products-grid .item-img {
		position: relative;
	}
		.cat-products-grid article img {
			width: 100%;
		}
		.cat-products-grid article.sold-out img {
			opacity: 0.4;
		}
		.cat-products-grid .item-img .sold-out-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%);
			font-size: 14px;
			margin-bottom: 0px;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
			margin: 10px auto;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	.cat-products-grid h2 {
		font-size: 14px;
		margin-bottom: 0px;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		margin: 10px auto;
		letter-spacing: 1px;
	}
	.cat-products-grid h3 {
		font-weight: 700;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		margin: 0;
		margin: 0 0 10px 0;
	}

/* === SEARCH === */
.search h1 {
	margin: 0;
	font-size: 26px;
}
	.search h1 span {
		font-weight: 500;
	}
.search .search-results {
	margin: 30px auto 70px;
}
	.search .cat-products-grid article {
		width: 30.8%;
		min-height: auto;
		background: #f3f3f3;
	}
		.search .filters {
			text-align: left;
			padding: 0px 15px;
			margin-top: 30px;
		}
		.nav-line {
			position: relative;
			display: inline-block;
			width: 100%;
			text-align: left;
			font-size: 0;
		}
		.nav-line button {
			display: inline-block;
			padding: 10px 0px 10px 0;
			text-decoration: none;
			color: #282828;
			font-size: 14px;
			margin-right: 20px;
		}
		.nav-line button:hover, .nav-line button.active {
			color: #282828;
		}
		.nav-line hr {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 16px;
			height: 1px;
			margin: 0;
			background: #282828;
			border: none;
			-webkit-transition: 500ms;
			transition: 500ms;
		}

/* === CONNEXION === */
.connexion {
	margin-bottom: 70px;
}
.connexion .col-md-5:after {
	content: '';
	clear: both;
	display: table;
}
	.connexion h2 {
		text-align: left;
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		letter-spacing: 3px;
		margin: 0;
	}
	.connexion h3 {
		text-align: left;
		font-weight: 300;
		margin: 10px 0;
		font-size: 14px;
		margin: 5px 0 20px 0;
	}
		.connexion form input {
			border: 0;
			padding: 15px 10px;
			width: 100%;
			-webkit-appearance: none;
			border-radius: 0;
			border: 1px solid #f3f3f3;
			margin-bottom: 10px;
		}
		.connexion form input::-webkit-input-placeholder {
			text-transform: uppercase;
		}
		.connexion form input::-moz-placeholder {
			text-transform: uppercase;
		}
		.connexion form input:-ms-input-placeholder {
			text-transform: uppercase;
		}
		.connexion form input:-moz-placeholder {
			text-transform: uppercase;
		}
		.connexion form button {
			background: #282828;
			border: 1px solid #ffffff;
			font-size: 12px;
			color: #ffffff;
			letter-spacing: 1.5px;
			padding: 10px 30px;
			text-transform: uppercase;
			float: right;
			transition: all 0.3s ease-in-out;
			margin-top: 10px;
		}
		.connexion form button:hover {
			background: #ffffff;
			color: #282828;
			border: 1px solid #282828;
		}

/* === PANIER === */
.payment-steps {
	background: none;
	margin: 30px auto;
	text-align: center;
	background: #f3f3f3;
	padding: 20px 0;
}
	.payment-steps h2 {
		font-size: 18px;
		font-weight: 300;
		text-transform: uppercase;
		font-family: 'Playfair Display', serif;
		font-style: italic;
	}
	.payment-steps .step {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 150px;
		text-transform: uppercase;
		font-size: 11px;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		letter-spacing: 1px;
	}
		.payment-steps .step.active {
			font-weight: 700;
		}
		.payment-steps .step span {
			font-family: 'Roboto', sans-serif;
		}
	.cart-products {
		margin: 70px auto 10px;
	}
		.table-responsive {
			min-height: .01%;
			overflow-x: auto;
			border: none;
			margin-bottom: 0;
		}
		.cart-products table {
			width: 100%;
			font-size: 14px;
		}
			.cart-products table thead tr td {
				text-transform: uppercase;
				font-weight: 400;
				font-size: 14px;
				text-align: left;
			}
			.cart-products table tbody tr td {
				border-bottom: 1px solid #f3f3f3;
				padding: 20px 0;
			}
			.cart-products table tr td:nth-of-type(1) {
				width: 150px;
			}
			.cart-products table tr td:nth-of-type(2) {
				width: 620px;
				padding: 0 20px;
			}
			.cart-products table tr td:nth-of-type(3) {
				width: 150px;
				text-align: center;
			}
			.cart-products table tr td:nth-of-type(4) {
				width: 150px;
				text-align: center;
			}
			.cart-products table tr td:nth-of-type(5) {
				width: 70px;
				text-align: center;
			}
			.cart-products table tr td:nth-of-type(6) {
				width: 30px;
				font-size: 10px;
				text-align: center;
			}
				.cart-products table tr td img {
					max-width: 100%;
				}
				.cart-products table tr td .delete-product {
					background: #f3f3f3;
					padding: 5px 9px;
					border-radius: 50%;
					cursor: pointer;
				}
	.continu-purchases {
		margin-top: 153px;
	}
		.continu-purchases a {
			text-transform: uppercase;
			font-size: 17px;
			background: #f3f3f3;
			color: #282828;
			border: none;
			font-weight: 300;
			padding: 10px 65px;
			vertical-align: top;
			margin: 0;
			letter-spacing: 1px;
			transition: all 0.5s ease-in-out;
		}
	.cart-payment {
		margin-bottom: 70px;
	}
		.cart-payment-button {
			text-align: right;
			margin: 30px auto 0;
		}
			.cart-payment-button .total-cart {
				font-size: 16px;
				padding-bottom: 20px;
				font-weight: 400;
			}
			.cart-payment-button .total-cart:after {
				content: '';
				display: table;
				clear: both;
			}
				.cart-payment-button .total-cart div {
					display: inline-block;
					vertical-align: top;
				}
				.cart-payment-button .total-cart div:first-of-type {
					padding-right: 20px;
				}
				.cart-payment-button .total-cart div:last-of-type {
					font-weight: 500;
					padding-right: 48px;
				}
			.discount-code {
				margin: 0;
				margin-right: 48px;
				padding-bottom: 20px;
				width: 245px;
				position: relative;
				display: inline-block;
				vertical-align: top;
			}
			.discount-code:after {
				content: '';
				display: table;
				clear: both;
			}
				.discount-code form {
					position: relative;
				}
					.discount-code input {
						padding: 12px 10px;
						width: 100%;
						-webkit-appearance: none;
						border-radius: 0;
						border: 1px solid #f3f3f3;
					}
					.discount-code button {
						height: 42px;
						line-height: 42px;
						border: none;
						background-color: transparent;
						position: absolute;
						top: 2px;
						right: 0px;
						font-size: 11px;
						color: #191A1C;
						letter-spacing: 1.5px;
						padding: 0 10px;
						text-transform: uppercase;
					}
			.cart-payment-button button.submit-cart {
				text-transform: uppercase;
				font-size: 17px;
				background: #282828;
				color: #ffffff;
				border: none;
				font-weight: 300;
				padding: 10px 65px;
				vertical-align: top;
				margin: 0;
				letter-spacing: 1px;
				margin-right: 48px;
				transition: all 0.5s ease-in-out;
			}
			.cart-payment-button button.submit-cart:hover {
				background: #505252;
			}

/* === PANIER === */
.contact-intro {
	margin-bottom: 30px;
}
	.contact-intro h2 {
		text-align: center;
		font-size: 24px;
		font-family: Raleway,sans-serif;
		font-weight: 700;
		letter-spacing: 3px;
		margin: 0;
	}
	.contact-intro h3 {
		text-transform: none;
		font-weight: 300;
		text-transform: none;
		font-size: 20px;
		line-height: 22px;
		text-align: center;
		margin: 10px 0 20px;
	}
	.contact-intro p {
		font-size: 14px;
	}
.contact-form {
	margin-bottom: 70px;
	max-width: 800px;
}
	.contact-form h2 {
		text-align: center;
		font-size: 24px;
		font-family: Raleway,sans-serif;
		font-weight: 700;
		letter-spacing: 3px;
		margin: 0;
	}
	.contact-form form {
		margin-top: 20px;
	}
	.contact-form ul {
		margin: 0;
		padding: 0;
	}
		.contact-form ul li {
			list-style: none;
			display: inline-block;
			width: 45%;
			margin-bottom: 30px;
			font-size: 14px;
			position: relative;
		}
		.contact-form ul li.form-full-width {
			width: 100%;
			float: left;
		}
		.contact-form ul li.right {
			float: right;
		}
		.contact-form ul li.left {
			float: left;
		}
			.contact-form select {
				width: 100%;
				padding-bottom: 30px;
				margin-top: 0;
				cursor: pointer;
				background: none;
				border: none;
				border-bottom: 1px solid #a8a8a8;
			}
			.contact-form label {
				font-size: 14px;
				font-weight: 400;
			}
			.contact-form ul li input {
				width: 100%;
				font-size: 14px;
				margin-top: 5px;
				background: none;
				border: none;
				border-bottom: 1px solid #a8a8a8;
			}
			.contact-form ul li textarea {
				width: 100%;
				height: 180px;
				background-image: linear-gradient(#fff, #fff 43px, #333333 44px, #fff 44px, #fff 44px);
				background-size: 100% 44px;
				border: none;
				line-height: 44px;
				padding: 8px 0;
				max-width: 100%;
			}
	.privacy-policy {
		float: left;
		width: 100%;
		font-size: 14px;
	}
		.privacy-policy input[type="checkbox"] {
			margin: 2px 4px 0 0;
			vertical-align: top;
		}
	.submit-contact-form {
		float: right;
		text-transform: uppercase;
		font-size: 16px;
		background: #282828;
		color: #ffffff;
		border: none;
		font-weight: 300;
		padding: 10px 50px;
		vertical-align: top;
		margin: 20px 0 0 0;
		letter-spacing: 1px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.submit-contact-form:hover {
		background: #505252;
	}






















/* === SEARCH POP-IN === */
.search-popin {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #ffffff;
	z-index: 3;
	display: none;
}
	.search-popin-close {
		position: absolute;
		right: 50px;
		top: 50px;
		width: 50px;
		height: 50px;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}
	.search-popin-close:before, .search-popin-close:after {
		position: absolute;
		right: 20px;
		top: 0px;
		content: ' ';
		height: 40px;
		width: 1px;
		background-color: #282828;
		opacity: 1;
	}
	.search-popin-close:before {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.search-popin-close:after {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.search-popin #search-query {
		position: absolute;
		top: 50%;
		left: 10%;
		font-size: 6rem;
		color: #282828;
		font-weight: 300;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		background: #ffffff;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		opacity: 1;
	}
	.search-popin #search-query::-webkit-input-placeholder {
		text-transform: uppercase;
		color: #282828;
		opacity: 1;
		font-weight: 300;
	}
	.search-popin #search-query::-moz-placeholder {
		text-transform: uppercase;
		color: #282828;
		opacity: 1;
		font-weight: 300;
	}
	.search-popin #search-query:-ms-input-placeholder {
		text-transform: uppercase;
		color: #282828;
		opacity: 1;
		font-weight: 300;
	}
	.search-popin #search-query:-moz-placeholder {
		text-transform: uppercase;
		color: #282828;
		opacity: 1;
		font-weight: 300;
	}

/* === FOOTER === */
footer {
	background: #f3f3f3;
	padding-top: 50px;
	padding-bottom: 50px;
}
	footer .footer-copyright {
		font-size: 9px;
		margin-top: 50px;
	}
	footer .footer-inner {
		max-width: 1200px;
		margin: 0 auto;
	}
		footer .column h3 {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 14px;
			margin-top: 0px;
			margin-bottom: 8px;
		}
		footer .column .logo-footer {
			width: 45px;
		}
		footer .column p.copyright {
			margin-top: 10px;
			font-size: 8px;
		}
		footer .column ul.footer-links {
			padding: 0;
			margin: 0;
		}
			footer .column ul.footer-links li {
				list-style: none;
				padding-bottom: 5px;
			}
		footer .column ul.social-links {
			padding: 0;
			margin: 0;
		}
			footer .column ul.social-links li {
				list-style: none;
				display: inline-block;
				vertical-align: top;
				padding-right: 15px;
			}
				footer .column ul.social-links li .fa {
					font-size: 20px;
				}
		footer .column .numero {
			font-size: 22px;
			margin: 0 0 8px 0
		}
