/* MEDIUM DEVICES < 992
======================================================================================= */
@media only screen and (max-width : 992px) {
	/* === HOME - MAIN IMAGE === */
	.main-img {
		height: auto;
		margin: 30px auto 30px;
	}
	.arrow-container {
		display: none;
	}
	.intro-home {
		margin: 0 auto 30px;
	}
	/* === HOME - BOUTIQUE === */
	.boutique {
		margin-bottom: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.boutique .row:first-of-type {
		margin-bottom: 30px;
	}
	.shop-featured {
		min-height: auto;
	}
	.shop-text {
		display: block;
		height: auto;
	}
	.shop-article-inner {
		min-height: auto;
	}
	.shop-text .inner {
		padding-left: 0;
		padding-right: 0;
		min-height: 222px;
		display: block;
	}
	.shop-text p {
		line-height: 20px;
		margin-bottom: 30px;
	}
	.shop-cta {
		padding: 6px 50px;
	}
	.shop-article-inner figcaption {
		background: none;
		top: initial;
		bottom: 0;
		margin: 0;
		height: 20%;
		width: 100%;
	}
	.shop-article-inner h3, .shop-article-inner p {
		padding: 5px 0;
	}
	.shop-article-inner figcaption, .shop-article-inner figcaption h3, .shop-article-inner figcaption p {
		opacity: 1;
	}
	.stories-about figure figcaption, .stories-about figure figcaption h3, .stories-about figure figcaption p {
		opacity: 1;
	}
	/* === INSTAGRAM - HOME === */
	.insta-push {
		margin-bottom: 30px;
	}
	.insta-home ul li {
		width: 29%;
		margin: 0 2%;
	}
	.join-mi {
		margin: 0 auto 30px;
		padding: 30px 0;
	}
	/* === MAIN IMAGE - ABOUT === */
	.join-community .col-sm-6 {
		margin-bottom: 30px;
	}
	.join-community form button {
		right: 5%;
	}
	.join-community .col-md-4:last-of-type .inner {
		min-height: 150px;
	}
	.stories-about {
		margin-bottom: 30px;
	}
	/* === STORIES === */
	.breadcrumb {
		margin: 15px auto;
	}
	.wrapper-article h1 {
		font-size: 24px;
	}
	.main-article {
		margin-bottom: 30px;
	}
	.main-article h1 {
		margin-top: 10px;
	}
	.main-article-img img {
		min-height: auto;
	}
	.wrapper-article h2 {
		margin: 20px 0 20px;
	}
	.main-article .main-article-content {
		min-height: 200px;
		display: block;
		margin-top: 20px;
	}
	.wrapper-article h2 {
		font-size: 22px;
		line-height: 24px;
		margin: 20px 0 20px;
	}
	.main-article-content {
		min-height: 210px;
	}
	.wrapper-article {
		margin-bottom: 0;
	}
	.wall-articles .item {
		margin-bottom: 30px;
		overflow: hidden;
	}
	.wall-articles .item .inner {
		height: 310px;
	}
	.wall-articles .item .inner .cat a,
	.wall-articles .item .inner h2,
	.wall-articles .item .inner .post-metas,
	.wall-articles .item .inner .item-title
	{
		opacity: 1;
	}
	/* === STORY === */
	.single-story-top,
	.single-story-content .row,
	.single-story-carousel {
		margin-bottom: 30px;
	}
	.single-story-content quote {
		font-size: 18px;
		line-height: 28px;
	}
	.single-story-content quote span:first-of-type,
	.single-story-content quote span:last-of-type{
		font-size: 38px;
	}
	.selection-carousel .shop-article-inner {
		min-height: auto;
		margin: 0 10px;
	}
	.selection-carousel .shop-article-inner img {
		opacity: 0.7;
	}
	.selection-carousel .shop-article-inner figcaption h3 {
		opacity: 1;
		-webkit-transform: translate3d(0%, 0%, 0);
		transform: translate3d(0%, 0%, 0);
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;
	}
	.selection-carousel .shop-article-inner figcaption p {
		opacity: 1;
		-webkit-transform: translate3d(0%, 0%, 0);
		transform: translate3d(0%, 0%, 0);
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;
	}
	.selection-carousel .shop-article-inner figcaption:before {
		background: #f3f3f3;
		top: 50%;
		opacity: 1;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	.single-story-carousel .slick-next {
		right: 0;
	}
	.single-story-carousel .slick-prev {
		left: 0;
	}
	.single-story-quote-text {
		height: 240px;
	}
	.selection-carousel {
		margin-bottom: 60px !important;
	}
	.selection-carousel .slick-next, .selection-carousel .slick-next:hover, .selection-carousel .slick-next:active, .selection-carousel .slick-next:focus {
		right: 35px;
		background-size: 50px;
	}
	.selection-carousel .slick-prev, .selection-carousel .slick-prev:hover, .selection-carousel .slick-prev:active, .selection-carousel .slick-prev:focus {
		left: 35px;
		background-size: 50px;
	}
	.selection-carousel .slick-dots {
		bottom: -30px;
	}
	/* === SHOP === */
	.shop .slick-next {
		right: 10px;
	}
	.shop .slick-prev {
		left: 10px;
	}
	.shop .shop-products-featured {
		margin: 0 auto 30px;
	}
	.shop .mea-products {
		margin-bottom: 0;
	}
	.shop .shop-article-inner {
		background: #000000;
	}
	.shop .shop-article-inner img {
		opacity: 0.5;
	}
	.shop .shop-article-inner figcaption,
	.shop-article-inner figcaption h3,
	.shop-article-inner figcaption p {
		opacity: 1;
	}
	.shop .shop-article-inner figcaption {
		width: 80%;
		height: 120px;
		background: #ffffff;
	}
	/* === SINGLE SHOP === */
	.global-product {
		margin-bottom: 30px;
	}
	.mobile-product {
		display: block;
	}
	.global-product {
		padding-left: 15px;
	}
	.slider-nav {
		display: none;
	}
	.details-product h1 {
		display: none;
	}
	.price {
		margin-bottom: 20px;
	}
	select.quantity-product {
		text-indent: 5px;
	}
	.details-product .price {
		display: none;
	}
	.details-product {
		margin-top: 20px;
	}
	.quantity-product select {
		padding: 0;
	}
	/* === CATS SHOP === */
	.cat-products-grid article {
		width: 43%;
	}
	/* === SEARCH === */
	.search h1 {
		font-size: 28px;
	}
	.search .filters {
		margin-top: 30px;
	}
	.search .search-results {
		margin: 30px auto;
	}
	.search .cat-products-grid article {
		width: 29.3%;
		min-height: auto;
		background: #f3f3f3;
	}
	.search .shop-article-inner h3, .search .shop-article-inner p {
		padding: 0;
	}
	/* === CONNEXION === */
	.cart-products {
		margin: 30px auto 10px;
	}
	.cart-payment {
		margin-bottom: 30px;
	}
	.connexion {
		margin-bottom: 30px;
	}
	.connexion .col-md-5:first-of-type {
		margin-bottom: 50px;
	}
	/* === PANIER === */
	.payment-steps .step {
		max-width: 120px;
	}
	/* === ABOUT === */
	.about .wrapper-content {
		width: 90%;
	}
	.wrapper-content-inner {
		padding: 30px;
	}










	/* === FOOTER === */
	.footer-contact span.hide {
		display: none;
	}
}
/* MEDIUM DEVICES LANDSCAPE < 992
======================================================================================= */
@media only screen and (max-width : 992px) and (orientation:landscape) {

}
/* SMALL DEVICES < 767
======================================================================================= */
@media only screen and (max-width : 767px) {
	/* === HEADER === */
	header.main-header {
		display: none;
	}
	.sticky-header {
		display: block !important;
		height: 60px;
		border: none;
		position: absolute;
	}
	.logo-sticky {
		display: none;
	}
	.main-menu ul li {
		padding: 0 12px;
	}
	.menu-mobile ul.menu-mobile-main {
		margin: 0px 0 0 0;
	}
	/* === HEADER - STICKY === */
	.sticky-header nav {
		display: none;
	}
	#nav-icon {
		display: block;
	}
	.logo-mobile {
		display: block;
		margin: 20px auto 0;
		position: relative;
		z-index: 10;
	}
	/* === HOME - MAIN IMAGE === */
	.main-img {
		height: 68vh;
	}
	.arrow-container {
		display: block;
	}
	.main-img img.main-img-desktop {
		display: none;
	}
	.main-img img.main-img-mobile {
		display: block;
	}
	/* === INTRO - HOME === */
	.intro-home h2 {
		font-size: 18px;
		line-height: 26px;
	}
	.intro-home  h2 br {
		display: none;
	}
	/* === HOME - BOUTIQUE === */
	.shop-text .inner {
		padding: 20px;
	}
	.shop-featured, .shop-text {
		min-height: auto;
		height: auto;
	}
	.shop-article-inner {
		margin-bottom: 30px;
	}
	.shop-article:last-of-type .shop-article-inner {
		margin-bottom: 0;
	}
	.home .shop-article-inner figcaption {
		margin: 0 !important;
		transform: translateY(-50%);
		top: 50%;
	}
	.home .shop-article-inner figcaption .figcaption-inner {
		background: #ffffff;
		width: 80%;
		margin: 0 auto;
		margin-left: 10%;
		padding: 15px 10px;
	}
	.shop-article-inner figcaption h3 {
		opacity: 1;
		font-size: 18px;
	}
	.shop-article-inner figcaption p {
		opacity: 1;
		font-size: 16px;
	}
	.shop-text .inner {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/* === HOME - STORIES / ABOUT === */
	.stories-about .col-sm-6:first-of-type {
		margin-bottom: 30px;
	}
	.stories-about .text-center:first-of-type figure {
		margin-bottom: 30px;
	}
	/* === REJOIGNEZ MI - HOME === */
	.join-mi h2 {
		padding: 0 15px;
	}
	.join-mi h3 {
		margin: 0 0 20px 0;
	}
	.join-mi form {
		padding: 0 15px;
		margin: 20px auto 0;
	}
	.join-mi form button {
		right: 15px;
	}
	/* === INSTAGRAM - HOME === */
	.insta-home .inner {
		background: none;
		padding: 0;
	}
	.insta-home ul li {
		width: 28%;
		height: auto;
		margin: 0 2%;
	}
	.insta-home ul li:last-of-type {
		margin-bottom: 0;
	}
	/* === PUSH PRO - HOME === */
	.pro-home {
		display: none;
	}
	/* === MAIN IMAGE - ABOUT === */
	.about .arrow-container {
		display: block;
	}
	.widget-mi .col-sm-4 {
		display: none;
	}
	.about h1 {
		font-size: 30px;
	}
	.widget-text h2, .join-community h2 {
		font-size: 24px;
	}
	.join-community .col-xs-6 .inner {
		min-height: 160px;
	}
	.join-community .col-md-4:last-of-type .inner {
		min-height: 100px;
	}
	.join-community .inner h3 {
		font-size: 22px;
	}
	/* === STORIES === */
	.main-article .main-article-content {
		min-height: 280px;
	}
	/* === STORY === */
	.slick-next, .slick-next:hover, .slick-next:active, .slick-next:focus {
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}
	.slick-prev, .slick-prev:hover, .slick-prev:active, .slick-prev:focus {
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}
	.single-story-content .row .col-md-6 {
		margin-bottom: 30px;
	}
	.single-story-content .row .col-md-6:last-of-type {
		margin-bottom: 0px;
	}
	/* === SHOP === */
	.shop-products-featured .img-mobile {
		display: block;
	}
	/* === SINGLE SHOP === */
	.quantity-product, .add-to-cart {
		margin: 0 10px 20px 0;
	}
	.selection-carousel .shop-article-inner {
		padding: 0;
	}
	.shop-products-featured .img-desktop {
		display: none;
	}
	/* === SEARCH === */
	.search h1 {
		font-size: 24px;
	}
		.search .filters {
			margin-top: 30px;
		}
		.search .search-results {
			margin: 30px auto;
		}
			.search .cat-products-grid article {
				width: 91%;
				min-height: auto;
				background: #f3f3f3;
			}
				.search .shop-article-inner {
					margin: 0;
				}
					.search .shop-article-inner h3, .search .shop-article-inner p {
						padding: 0;
					}
	/* === CART === */
	.payment-steps {
		text-align: left;
	}
	.payment-steps .step {
		max-width: 100px;
	}
	.cart-products table {
		width: 600px;
	}
	.cart-products table tbody tr:last-of-type td {
		border: none;
	}
	.continu-purchases {
		margin-top: 0;
	}
	.continu-purchases a {
		width: 100%;
		padding: 10px 0;
		display: block;
		text-align: center;
	}
	.cart-payment-button {
		text-align: center;
	}
	.cart-payment-button .total-cart div:last-of-type {
		padding-right: 0px;
	}
	.discount-code {
		margin: 0 auto 0;
		width: 100%;
	}
	.cart-payment-button div div:last-of-type {
		padding-right: 0px;
	}
	.cart-payment-button button.submit-cart {
		margin-right: 0;
		width: 100%;
	}
	/* === CATS SHOP === */
	.cat-products-filters h1 {
		margin-bottom: 10px;
	}
	.filters .ui-group:after {
		content: '';
		clear: both;
		display: table;
	}
	.filters button {
		float: left;
	}
	.cat-products-grid article {
		width: 92%;
	}
	/* === SEARCH === */
	.search-popin-close {
		right: 19px;
		top: 14px;
	}
	.search-popin-close:before, .search-popin-close:after {
		width: 2px;
	}
	.search-popin #search-query {
		font-size: 3rem;
	}
	.search-popin #search-query::-webkit-input-placeholder {
		text-transform: uppercase;
		color: #282828;
		opacity: 1;
		font-weight: 300;
	}
	.search-popin #search-query::-moz-placeholder {
		text-transform: uppercase;
		color: #282828;
		opacity: 1;
		font-weight: 300;
	}
	.search-popin #search-query:-ms-input-placeholder {
		text-transform: uppercase;
		color: #282828;
		opacity: 1;
		font-weight: 300;
	}
	.search-popin #search-query:-moz-placeholder {
		text-transform: uppercase;
		color: #282828;
		opacity: 1;
		font-weight: 300;
	}
	/* === BREADCRUMB === */
	.breadcrumb {
		border-radius: 0;
		border-top: 1px solid #f3f3f3;
		border-bottom: 1px solid #f3f3f3;
		padding: 10px 15px;
	}









	/* === FOOTER === */
	footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	footer .column {
		text-align: center;
	}
		footer .column .inner {
		text-align: center;
		border-bottom: 1px solid #f3f3f3;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	footer .footer-copyright {
		margin-top: 0;
	}
	footer .column:first-of-type .inner {
		padding-top: 0;
	}
	footer .column:last-of-type .inner {
		border:  none;
	}
	footer .column h3 {
		font-size: 16px;
	}
	footer .column ul.footer-links li a {
		font-size: 16px;
	}
	footer .column .logo-footer {
		width: 50px;
	}
}
/* SMALL DEVICES LANDSCAPE < 768
======================================================================================= */
@media only screen and (max-width : 768px) and (orientation: landscape) {

}